In [ ]:
import pandas as pd

In [3]:
data = pd.read_csv('Demographic.csv' , index_col = 'JURISDICTION_NAME' )

1.เขตใหนมี Count participant มากที่สุด

In [33]:
data.iloc[:,:1][(data['COUNT_PARTICIPANTS']==data.COUNT_PARTICIPANTS.idxmax()) | (data['COUNT_PARTICIPANTS'] ==data.COUNT_PARTICIPANTS.max())]

                   COUNT_PARTICIPANTS
JURISDICTION_NAME
12789                             272

2.เขตใหนมี Count participant น้อยที่สุด และไม่เท่ากับ 0

In [64]:
data.iloc[:,:1].sort_values('COUNT_PARTICIPANTS',ascending=True)[(data['COUNT_PARTICIPANTS']==data.COUNT_PARTICIPANTS.idxmin()) | (data['COUNT_PARTICIPANTS'] >0)].head(6)

C:\Users\WINDOWS\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

                   COUNT_PARTICIPANTS
JURISDICTION_NAME
10306                               1
10007                               1
10003                               1
11419                               1
10022                               1
11101                               1

 ถ้าจะตรวจสอบว่าค่าใน Row เป็น null หรือเปล่า ให้เติม .notnull() เข้าไป แต่คำตอบที่ได้จะเป็น Boolean

In [6]:
data.iloc[:,:1].sort_values('COUNT_PARTICIPANTS',ascending=True)[(data['COUNT_PARTICIPANTS']==data.COUNT_PARTICIPANTS.idxmin()) | (data['COUNT_PARTICIPANTS'] >0)].head(6).notnull()

C:\Users\WINDOWS\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

                   COUNT_PARTICIPANTS
JURISDICTION_NAME
10306                            True
10007                            True
10003                            True
11419                            True
10022                            True
11101                            True

3.เขตใหนมีจำนวนผู้เข้าร่วมที่เป็นเพศหญิงมากที่สุด

In [142]:
data.iloc[:,[1]][(data['COUNT_FEMALE']==data.COUNT_FEMALE.idxmax()) | (data['COUNT_FEMALE'] ==data.COUNT_FEMALE.max())]

                   COUNT_FEMALE
JURISDICTION_NAME
11230                       194

4.เขตใหนมีจำนวนผู้เข้าร่วมที่เป็นเพศชายมากที่สุด

In [144]:
data.iloc[:,[3]][(data['COUNT_MALE']==data.COUNT_MALE.idxmax()) | (data['COUNT_MALE'] ==data.COUNT_MALE.max())]

                   COUNT_MALE
JURISDICTION_NAME
12789                     157

5.เขตใหนที่มีเฉพาะเพศหญิงเข้าร่วมการสำรวจทางสถิติ

In [4]:
data.iloc[:,[1,3]][(data['COUNT_FEMALE'] !=0) & (data['COUNT_MALE'] ==0)]

                   COUNT_FEMALE  COUNT_MALE
JURISDICTION_NAME
10003                         1           0
10005                         2           0
10022                         1           0
10024                         4           0
10036                         2           0
11205                         5           0
11225                        52           0
11373                         3           0
11432                         2           0
12466                        44           0
12763                        11           0

ถ้าจะตรวจสอบว่าค่าใน Row เป็น null หรือเปล่า ให้เติม .notnull() เข้าไป แต่คำตอบที่ได้จะเป็น Boolean

In [5]:
data.iloc[:,[1,3]][(data['COUNT_FEMALE'] !=0) & (data['COUNT_MALE'] ==0)].notnull()

                   COUNT_FEMALE  COUNT_MALE
JURISDICTION_NAME
10003                      True        True
10005                      True        True
10022                      True        True
10024                      True        True
10036                      True        True
11205                      True        True
11225                      True        True
11373                      True        True
11432                      True        True
12466                      True        True
12763                      True        True

6.เขตใหนที่มีเฉพาะเพศชายเข้าร่วมการสำรวจทางสถิติ

In [74]:
data.iloc[:,[1,3]][(data['COUNT_MALE'] !=0) & (data['COUNT_FEMALE'] ==0)]

                   COUNT_FEMALE  COUNT_MALE
JURISDICTION_NAME
10007                         0           1
10009                         0           2
10306                         0           1
11101                         0           1
11374                         0           2
11419                         0           1
11427                         0           2
12759                         0          11

ถ้าจะตรวจสอบว่าค่าใน Row เป็น null หรือเปล่า ให้เติม .notnull() เข้าไป แต่คำตอบที่ได้จะเป็น Boolean

In [7]:
data.iloc[:,[1,3]][(data['COUNT_MALE'] !=0) & (data['COUNT_FEMALE'] ==0)].notnull()

                   COUNT_FEMALE  COUNT_MALE
JURISDICTION_NAME
10007                      True        True
10009                      True        True
10306                      True        True
11101                      True        True
11374                      True        True
11419                      True        True
11427                      True        True
12759                      True        True

7.เขตใหนมีคนต่างด้าวอาศัยอยู่เยอะที่สุด

In [152]:
data.iloc[:,[27]][(data['COUNT_PERMANENT_RESIDENT_ALIEN']==data.COUNT_PERMANENT_RESIDENT_ALIEN.idxmax()) | (data['COUNT_PERMANENT_RESIDENT_ALIEN'] ==data.COUNT_PERMANENT_RESIDENT_ALIEN.max())]

                   COUNT_PERMANENT_RESIDENT_ALIEN
JURISDICTION_NAME
10467                                          10

8.เขตใหนมีจำนวนผู้เข้าร่วมที่เป็นเพศชายเท่ากับเพศหญิงมากที่สุด

In [62]:
data.iloc[:,[1,3]].sort_values('COUNT_FEMALE',ascending=False)[(data['COUNT_MALE'] ==  data['COUNT_FEMALE'])].head(1)

C:\Users\WINDOWS\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

                   COUNT_FEMALE  COUNT_MALE
JURISDICTION_NAME
10001                        22          22

9.เขตใหนมีจำนวนผู้เข้าร่วมที่เป็นชนชาติ PACIFIC ISLANDER มากกว่า HISPANIC LATINO

In [187]:
data.iloc[:,[9,11]][(data['COUNT_PACIFIC_ISLANDER'] > data['COUNT_HISPANIC_LATINO'] )]

                   COUNT_PACIFIC_ISLANDER  COUNT_HISPANIC_LATINO
JURISDICTION_NAME
12428                                   2                      1
12754                                   2                      0

10.เขตใหนมีจำนวนผู้เข้าร่วมที่เป็นเพศชายมากกว่าเพศหญิง

In [189]:
data.iloc[:,[1,3]][(data['COUNT_MALE'] >  data['COUNT_FEMALE'])]

                   COUNT_FEMALE  COUNT_MALE
JURISDICTION_NAME
10006                         2           4
10007                         0           1
10009                         0           2
10013                         1           7
10032                         4           9
10306                         0           1
10454                         8          10
10458                        25          27
10464                         7           8
11101                         0           1
11204                        17          20
11206                         3          10
11210                        12          24
11213                        17          21
11220                         1           7
11223                        53          56
11233                         6           8
11234                        29          30
11235                        17          33
11236                         3           4
11374                         0           2
11375                         2           3
11419                         0           1
11427                         0           2
11434                         1           3
11510                         6          22
11691                        12          25
12423                         1          20
12435                         5          50
12528                         2          50
12733                         6           7
12751                         2           5
12754                        64          70
12759                         0          11
12768                         1          62
12783                        66         135
12788                        39          44
12789                       115         157
13731                         2          15